/* ใช้ Kanit เป็นฟอนต์หลักทั้งเว็บ */
body {
  font-family: 'Kanit', sans-serif;
  font-weight: 400; /* ปกติ */
  margin: 0;
  padding: 0;
}

* {
  font-family: "Kanit", sans-serif;
}

h1, h2, h3, h4, h5, h6,
.navbar, .header-section {
  font-family: "Chakra Petch", sans-serif !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* สำหรับ Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;           /* ความกว้าง scrollbar */
}

::-webkit-scrollbar-button {
  display: none;         /* ซ่อนปุ่มลูกศรบน/ล่าง */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;   /* สีพื้นของ track */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ff4500;   /* สี scrollbar */
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #e64a19;   /* สีเมื่อ hover */
}

/* สำหรับ Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4500 #f1f1f1;
}