.header-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2.5rem auto; /* เพิ่ม margin-bottom 2.5rem */
  padding: 1.5rem 1rem;
  height: 140px;
  border-radius: 15px;
  background: linear-gradient(135deg, #FFA239);
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.header-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0.3rem 0; /* ลด margin-bottom */
}

.header-section p {
  font-size: 1rem;
  margin: 0;            /* ไม่ให้ p เพิ่มความสูง */
  color: #f8f8f8;
}
