.schedule-section {
  padding: 2rem;
  background-color: #ffffff;
}

.schedule-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.schedule-table th, .schedule-table td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

.schedule-table th {
  background-color: #ff4500;
  color: white;
}

.schedule-table td {
  background-color: #fff;
}

.schedule-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.cardio:hover {
  background-color: #00bcd4; /* สีฟ้าน้ำทะเล */
  color: white;
}

.flexibility:hover {
  background-color: #4caf50; /* สีเขียว */
  color: white;
}

.strength:hover {
  background-color: #f44336; /* สีแดง */
  color: white;
}

.cardio, .flexibility, .strength {
  transition: background-color 0.3s ease, color 0.3s ease;
}

